#### Today Objectives:
- 1.Conditional Statements(if,elif,else and nested if)
    - control statements(break, continue)
- 2.Iterations(for loop, while loop)
    - control statements(break, continue) 
- 3.Strings
- 4.Lists
- 5.Tuples
- 6.Dictionaries
- 7.Sets

In [2]:
# statements
a=float(input('enter a number:'))
print(a,type(a))

enter a number:12.3
12.3 <class 'float'>

In [4]:
a=int(input('enter a number: '))
if (a%2==0):
    print(a,'is even number')
else:
    print(a,'not even number')

enter a number: 13
13 not even number

In [5]:
a=int(input('enter a value :'))
if (a%2!=0 and a%2==1):
    print(a,'is odd number')
else:
    print(a,'not a odd number')

enter a value :13
13 is odd number

In [11]:
a=int(input('enter a 1st number'))
b=int(input('enter a 2nd number'))
c=int(input('enter a 3rd number'))
if (a>b):
    if (a>c):
        print(a,'is maximu')
elif (b>c):
    print(b,'is maximum')
else:
    print(c,'is maximum')

enter a 1st number12
enter a 2nd number12
enter a 3rd number10
12 is maximum

In [12]:
# iterations
'''
1.for loop 
2.while loop
'''
print(1)
print(2)
print(3)
print(4)

1
2
3
4

In [14]:
# to print 1 to 100 natural numbers
'''for iteratvariable in range or datatype:
    statements...
'''
a=1
b=100
for i in range(a,b):
    print(i,end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,

In [18]:
a='apssdc andhra pradesh gunbtur district'
l=['a','e','i','o','u']
for i in a:
    if i not in l:
        print(i,end=',')

p,s,s,d,c, ,n,d,h,r, ,p,r,d,s,h, ,g,n,b,t,r, ,d,s,t,r,c,t,

In [1]:
# while 
i=1
while i<=100:
    print(i,end=',')
    i=i+1 # i+=1

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [4]:
i=1
res=0
while i<=100:
    res=res+i
    i+=1
print('sum is ',res)

sum is  5050

In [6]:
# print 8 th table
# 8 * 1 = 8
a=int(input('enter a number'))
for i in range(1,11):
    print(a,'*',i, '=', a*i)

enter a number10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [13]:
# strings 
# exaples a='hsjkahskjahksj' or b="dsjhgfjasgdj"
a='venkatesh'
a[-1]

'h'

In [14]:
a='20'
b='10'
c='10'
d='20'
e=a+b+c+d
e

'20101020'

In [16]:
a='10'
b=20
c=int(a)+b
c

30

In [18]:
a='apssdc andhra pradesh'
a[7:13]

'andhra'

In [23]:
a[-7:]

'pradesh'

In [24]:
a[::-1]

'hsedarp arhdna cdsspa'

In [25]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [26]:
help(str.capitalize)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [28]:
a='venkatesh yekkanti'
a.capitalize()

'Venkatesh yekkanti'

In [29]:
a.title()

'Venkatesh Yekkanti'

In [30]:
b='APSSDC'
b.casefold()

'apssdc'

In [32]:
c='apssdc'
c.center(20,'@')

'@@@@@@@apssdc@@@@@@@'

In [33]:
a='APssDc Andhra PRaDesh'
a.swapcase()

'apSSdC aNDHRA prAdESH'

In [35]:
a='apssdc'
b='VENKATESH'
print(a.upper())
print(a.isupper())
print(b.isupper())

APSSDC
False
True

In [37]:
# isdigit
# isalpa
# isalnum
a='apssdc123'
b='1234'
c='apssdcASD'
print(a.isdigit())
print(a.isalpha())
print(a.isalnum())
print(b.isdigit())
print(b.isalnum())
print(c.isalpha())
print(c.isalnum())

False
False
True
True
True
True
<built-in method isalnum of str object at 0x00000235F1877F30>

In [38]:
a='venkatesh'
a.find('k')

3

In [39]:
a.index('k')

3

In [42]:
a='           jdjhsjhdjska               '
a.strip()

'jdjhsjhdjska'

In [43]:
a='        apssdc apssdc     '

In [4]:
# input is 'apssdc1234APssdc'
# output is 2 4 10
a='apssdc1234APssdc'
uc,lc,dc=0,0,0
for i in a:
    if i.isupper():
        uc=uc+1
    elif i.islower():
        lc=lc+1
    elif i.isdigit():
        dc=dc+1
print(uc,dc,lc)

2 4 10

In [5]:
# split()
a='i am venkatesh from guntur'
a.split()

['i', 'am', 'venkatesh', 'from', 'guntur']

In [6]:
a='1,2,3,4,5,6,7,8,9,10'
a.split(',')

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [7]:
a=['i','am','venkatesh','working','in','apssdc']
' '.join(a)

'i am venkatesh working in apssdc'

In [8]:
a='i am venkatesh working in apssdc'
a.count('a')

3

In [11]:
'''List:collection of elements enclosed by squre brackets
1.list is mutable
'''
list1=[10]
list2=[1,2,3,4,13.4,'a']
list3=list1+list2 # concatnation
print(list1)
print(list2)
print(list3)

[10]
[1, 2, 3, 4, 13.4, 'a']
[10, 1, 2, 3, 4, 13.4, 'a']

In [14]:
list3[5]

13.4

In [15]:
list3[-3]

4

In [16]:
list3

[10, 1, 2, 3, 4, 13.4, 'a']

In [17]:
list3[1:]

[1, 2, 3, 4, 13.4, 'a']

In [19]:
list4=[1,2,3,4,6,5,4,3]
print(len(list4))
print(max(list4))
print(min(list4))

8
6
1

In [20]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [21]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [24]:
list1=[1,2,3]
list1.append(4)
list1

[1, 2, 3, 4]

In [26]:
list1.extend([5,6,7,8,9])
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
list1.insert(4,4.5)

In [29]:
list1

[1, 2, 3, 4, 4.5, 5, 6, 7, 8, 9]

In [30]:
list1[4]='venkatesh'
list1

[1, 2, 3, 4, 'venkatesh', 5, 6, 7, 8, 9]

In [31]:
list1.pop(-5)

5

In [32]:
list1

[1, 2, 3, 4, 'venkatesh', 6, 7, 8, 9]

In [33]:
list1.remove('venkatesh')
list1

[1, 2, 3, 4, 6, 7, 8, 9]

In [37]:
list2=[9,5,1,8,3,2,6,5]
list2.sort(reverse=True)
list2

[9, 8, 6, 5, 5, 3, 2, 1]

In [38]:
list2.sort(reverse=False)
list2

[1, 2, 3, 5, 5, 6, 8, 9]

In [42]:
'''
Tuples:collection of elements enclosed by paranthesis
1.tuples is immutable
example t1=tuple(1,2,3,4,5) or t1=(1,2,3,4,5)
'''
t1=(1,2,3,4,5)
t2=tuple([1,2,3,4,5,6,7,8])
print(t1)
print(t2)
print(tuple([1,2,3,4,5,6]))
print(len(t2))
print(max(t2))
print(min(t2))

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6)
8
8
1

In [43]:
'''
dictionaries:collection of unorder items enclosed by {}
each item contains keys and value pair
1.duplicates not allowed
2.mutable
example dict1={'name':'venkatesh','id':12,'address':'gntr'}
'''
d1={'name':'venkatesh','id':1,'add':'gnt','id':2}
print(d1)
print(type(d1))

{'name': 'venkatesh', 'id': 2, 'add': 'gnt'}
<class 'dict'>

In [44]:
d1

{'name': 'venkatesh', 'id': 2, 'add': 'gnt'}

In [45]:
d1.items()

dict_items([('name', 'venkatesh'), ('id', 2), ('add', 'gnt')])

In [46]:
d1.keys()

dict_keys(['name', 'id', 'add'])

In [47]:
d1.values()

dict_values(['venkatesh', 2, 'gnt'])

In [49]:
d1['name']='apssdc'
d1

{'name': 'apssdc', 'id': 2, 'add': 'gnt'}

In [50]:
d1['salary']=40000
d1

{'name': 'apssdc', 'id': 2, 'add': 'gnt', 'salary': 40000}

In [51]:
d1.update({'salary':36000.0})
d1

{'name': 'apssdc', 'id': 2, 'add': 'gnt', 'salary': 36000.0}

In [52]:
d1.popitem()
d1

{'name': 'apssdc', 'id': 2, 'add': 'gnt'}

In [53]:
d1.pop('add')
d1

{'name': 'apssdc', 'id': 2}

In [54]:
# input a=6
# output {1:1,2:4,3:9,4:16,5,25,6:36}
a=int(input('enter a number:'))
dict1={}
for i in range(1,a+1):
    dict1[i]=i*i
print(dict1)

enter a number:6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [55]:
'''
sets:collection of unorder and unindexed elements enclosed
by {}
1.mutable
2.duplicates are not allowed
example set1={1,2,3,4,5,6}
'''
set1={1,2,3,4,23,24,5,6,7,1,2,3,4}
set1

{1, 2, 3, 4, 5, 6, 7, 23, 24}

In [56]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [65]:
s1={1,2,3,4,5}
s2={9,8,7,6,10,4}
s3=s1.union(s2)
s4=s1.intersection(s2)
print(s3)
print(s4)
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{4}
{1, 2, 3, 5}